* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.container {
  max-width: 76.8rem;

  margin-inline: auto;

  color: #0f1111;
}

.container.menu-expanded {
  overflow: hidden;

  height: 100vh;
}

main {
  position: relative;
  top: 15rem;

  padding-inline: 1rem;
  padding-bottom: 2rem;
}

hr {
  margin-top: 1rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0f1111;
}

.product .info .btns button,
.pop-up .btns button,
#cart-page .checkout,
.login-pop-up button,
#login-form button,
#register-form button,
#register-page button,
#login-page button {
  border-radius: 10rem;

  font-size: 1.6rem;
  line-height: 1.35rem;

  padding: 1.2rem 1.6rem 1.2rem 1.7rem;

  cursor: pointer;
}

.pop-up .btns a:nth-child(1) button,
#register-page button,
#login-page button {
  background-color: #b7a23b;
  border: #fcd200;
}

.product .info .btns button:nth-child(1),
.pop-up .btns a:nth-child(2) button,
.login-pop-up #login,
#login-form button {
  background-color: #ffd814;
  border: #fcd200;
}

.product .info .btns button:nth-child(2),
.pop-up .btns button:nth-child(3),
#cart-page .checkout,
.login-pop-up #register,
#register-form button {
  background-color: #ffa41c;
  border: #ff8f00;
}

.product .info .sender-seller {
  display: flex;
  gap: 1rem;
}

label,
legend {
  font-size: 1.2rem;
  font-weight: 200;
  color: gray;
}

.input-container {
  padding-block: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-container .input-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input:focus-visible {
  outline-color: #fcd200;
  border: 1px solid transparent;
}

.input-text span {
  color: red;
}
