header {
  color: #fff;

  height: 15rem;
  background-color: #131921;

  position: absolute;

  width: 100%;
  max-width: 76.8rem;
}

.top-nav {
  display: flex;
  flex-direction: column;
}

.top-nav .flex-line {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}

.left-top-nav,
.right-top-nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#logo {
  display: flex;
  align-items: center;

  font-size: 2rem;

  text-decoration: none;
  color: #fff;
}

#logo img {
  width: 5rem;
}

#search-list {
  position: absolute;
  top: 10.5rem;
  z-index: 3;

  margin-inline: 1rem;

  width: calc(100vw - 2rem);
  max-width: 74.8rem;

  list-style: none;

  display: flex;
  flex-direction: column;

  background-color: #fff;

  border-radius: 0.8rem;
  border: none;
  box-shadow: 0 0.3rem 1rem #bababa;
}

@media (min-width: 769px) {
  header {
    max-width: 144rem;
    height: 11rem;
  }

  .search-container {
    position: absolute;
    top: 1rem;
    left: 20rem;

    width: calc(100% - 20rem - 10rem);
  }
}
