main .products-gallery {
  display: grid;

  gap: 0.8rem;

  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 424px) {
  main .products-gallery {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) {
  main .products-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
