#login-page {
  padding: 1rem 1rem 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#login-page p {
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#login-page a.hidden {
  display: none;
}

@media (min-width: 769px) {
  #login-page {
    max-width: 80%;
    margin-inline: auto;
  }
}
