#checkout-page h2 {
  padding-top: 1rem;

  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#checkout-page #purchase-overview p {
  margin-top: 2rem;

  font-size: 2rem;
}

button#address-form,
button#payment-form {
  display: none;
}

#checkout-page button{
  width: 100%;

  margin-top: 2rem;
}