.overview-list {
  font-size: 1.2rem;
  font-weight: 200;
  color: gray;

  padding-top: 1rem;
}

.overview-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding-block: 1rem;

  border-bottom: 1px dashed gray;
}

.configs {
  display: flex;
  gap: 1rem;
  padding-top: 0;
  border: none;
}

.configs-list-item {
  flex-direction: row;
}

.configs-list-item .field {
  text-transform: capitalize;
}
