#checkout-page #purchase-overview ul {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 200;
  color: gray;

  padding-top: 1rem;
}

#checkout-page #purchase-overview ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#checkout-page #purchase-overview .overview-list-item {
  padding-block: 1rem;

  border-bottom: 1px dashed gray;
}

#checkout-page #purchase-overview .configs {
  display: flex;
  gap: 1rem;
  padding-top: 0;
  border: none;
}

#checkout-page #purchase-overview .configs .configs-list-item {
  flex-direction: row;
}

#checkout-page #purchase-overview .configs .configs-list-item .field {
  text-transform: capitalize;
}
